.myBagFullCardContainer {
    display: flex;
    padding: 2rem;
    gap: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    /*flex-direction: column;*/

}

.myBagFullCardLeft {
    width: 33.33%;
}

.myBagFullCardRight {
    width: 66.66%;
    position: relative;
}

.bottomLine {
    border-bottom: 1px solid rgb(196, 196, 196);
    width: calc(100% - 48px);
    margin: 0 auto;
}


#editBtn {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #000;
    cursor: pointer;
}

#editBtn:hover {
    text-decoration-color: #c8102e;
}

@media (max-width: 1100px) {
    .myBagFullCardContainer {
        flex-direction: column;
        gap: 1rem;
    }
}
