.FilterBar-container {
  width: 25%;
  max-width: 25%;
  padding: 0 1rem;

  .filter-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .color-container {
      display: flex;
      flex-direction: row;
      border-radius: 50%;
    }

  }
}

#selectedFilters{
  display: none;
}
#selectedFilterContainer {
  display: flex;
  flex-direction: row;
  gap:0.78125rem;
  flex-wrap: wrap;
  width: calc(100% - 0.78125rem * 2);
  margin-bottom: 0.78125rem;
}

#selectedFilter{
  padding: 0.2rem;
  border: 0.0625rem solid rgba(48, 48, 48, 0.3);
  border-radius: 5%;

}

#selectedFilter:hover{
  cursor: pointer;
  border-color: black;
}

#selectedFilterName{
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 500;
  gap: 0.3125rem;
  display: flex;
  align-items: center;
}

.filterBarViewMoreBtn{
  background: white;
  border:none;
  padding: 1.2rem 0;
  font-size: 1rem;
}

@media (max-width: 984px) {
  .FilterBar-container {
    width: 100%;
    max-width: 100%;
  }
  #selectedFilters{
    display: block;
  }
  
}
