@media(max-width: 985px){
    #addToBagBackground{
        background-color: white;
        z-index:9998 ;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

    }

    #addToBagButton{
        padding: 1rem;

    }
}

